/*Start Sticky Footer*/
html,
body {
    height: 100%;
}

body {
    display: flex;
    /*d-flex*/
    flex-direction: column;
    /*flex-column*/
}

main {
    flex-grow: 1;
}

footer {
    flex-shrink: 0;
}
/*End Sticky Footer*/

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
    color:rgba(255, 255, 255, 0.5);
    background-color: #6c757d !important;
    border-color:#6c757d;
}

#nav-scroll {
    --bs-navbar-height:var(--bs-navbar-height)
}

/* 
.sticky-sidebar {
    position: -webkit-sticky;
    position: sticky;
    top: 1rem;
    overflow-y: auto;
    height: 100vh;
*/

/* 
another way to truncate text
.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    overflow: hidden;
   
*/
