/*Start Sticky Footer*/
html,
body {
    height: 100%;
}

body {
    display: flex;
    /*d-flex*/
    flex-direction: column;
    /*flex-column*/
}

main {
    flex-grow: 1;
}

footer {
    flex-shrink: 0;
}
/*End Sticky Footer*/

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
    color:#ffffff;
    background-color: #6c757d !important;
    border-color:#6c757d;
}
